.loading-animation {
  text-align: center;
  animation: media-container-animation 0.3s linear;
}

.loading-cover,
.loading-title {
  background: rgba(var(--color-background-300), 0.8);
  box-shadow: none;
  opacity: 1;
  overflow: hidden;
}

.loading-cover:before,
.loading-title:before {
  animation: loading-pulse 1.5s linear infinite;
  background: linear-gradient(
    90deg,
    rgba(var(--color-gray-300), 0) 0,
    rgba(var(--color-blue-700), 0.06) 40%,
    rgba(var(--color-blue-700), 0.06) 60%,
    rgba(var(--color-gray-300), 0)
  );
  content: "";
  display: block;
  height: 100%;
  transform: translateX(0);
  width: 200%;
}

.loading-cover {
  width: 100%;
  height: 265px;
  border-radius: 7px;
}

.loading-image {
  z-index: -100;
  width: 100%;
  height: 100%;
  position: relative;
}

.loading-title {
  height: 1rem;
  width: 80%;
  border-radius: 4px;
  margin-top: 10px;
  display: inline-block;
}

@keyframes loading-pulse {
  0% {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(50%);
  }
}

@keyframes media-container-animation {
  0% {
    opacity: 0;
    transform: scale(0.92);
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: none;
  }
}

@media (max-width: 1040px) {
  .loading-cover {
    aspect-ratio: 185/265;
    height: auto;
  }
}
