.sub-search {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.sub-search-text {
  padding-top: 2px;
}

.sub-search-container {
  border-radius: 6px;
  color: rgb(var(--color-white));
  cursor: pointer;
  display: flex;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 13px;
  margin-right: 20px;
  padding: 5px 8px;
  align-items: center;
  animation: sub-search-animation 0.2s ease-in-out;
  text-transform: capitalize;
}

.sub-search-text,
.sub-search-container,
.sub-cross-icon {
  background: rgb(var(--color-blue-600));
}

.tags-icon {
  color: rgb(var(--color-gray-500));
  font-size: 1.5rem;
  margin-right: 16px;
  animation: sub-search-animation 0.2s ease-in-out;
}

.sub-cross-icon {
  color: rgb(var(--color-blue-300));
  font-size: 0.7rem;
  margin-left: 5px;
  display: none;
}

@keyframes sub-search-animation {
  0% {
    opacity: 0;
    transform: scale(0.91);
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: none;
  }
}

.sub-search-container:hover .sub-cross-icon {
  display: block;
}

@media (max-width: 760px) {
  .sub-cross-icon {
    display: block;
  }

  .tags-icon {
    font-size: 1.1rem;
  }

  .sub-search-container {
    font-size: 0.7rem;
  }

  .sub-cross-icon {
    font-size: 0.65rem;
  }
}
